body{
    height: 2000px;
}
div{
    background-color: aqua;
    padding: 10px;
    position: sticky;
    top:0px
}
a:hover{
        color: red;
        font-size: 20px;
}
i:hover{
    font-size: 200px;
}